<h1> Showing selected artical<h1>
<div class="medium-size-font">
<p>
    Title: <%= @article.title %>
</p>

<p>
    Description: <%= @article.description %>
</p>

  <p>
    <%= link_to 'Edit this article', edit_article_path(@article) %>  |  <%= link_to 'Back to Index', articles_path %>

  </p>


</div>