$navbar-default-bg: rgb(138, 196, 62);
* { font-size: 14px }


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bolder;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

// .medium-size-font {
//     font-size: medium;
// }

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('passing.jpg');
    background-size: cover;
    height: 800px;
    position: relative;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 0.8em;
    width: 350px;
    // margin-top: 500px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    text-align: center;
}
.description {
    margin-top: 0;
}
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer small {
    float: left;
}
footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    margin-left: 15px;
}
